body {
  margin: 0;
  background-color: #d61f26;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: #eee;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
