@import '../../styles/variables';

.filter {
  .filter__field {
    margin-right: 2px;
  }

  .filter__value {
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 8px 10px;
  }
}
