.restaurant-detail {
  .restaurant-detail__back {
    border: none;
    border-radius: 2px;
    padding: 10px 12px;
    color: $font-color-primary;
    background-color: $background-color-secondary;
  }
  .restaurant-detail__info {
    padding: 10px 0 15px;
  }
}
