.restaurant-info {
  text-align: left;
  padding: 15px 20px;

  .restaurant-info__logo {
    display: inline-block;
    width: 10%;
  }

  .restaurant-info__content {
    display: inline-block;
    width: 80%;
    padding: 0 20px;
    vertical-align: top;
  }

  .restaurant-info__title {
    margin: 0 20px 0 0;
    display: inline-block;
  }

  .restaurant-info__location {
    display: block;
    margin: 5px 0 15px;
  }

  .restaurant-info__rating {
    margin-right: 0;
  }

  .restaurant-info__category {
    padding: 5px 20px;
    margin-right: 15px;
  }
}
