@import '../../styles/variables';

.restaurant-items {
  padding: 15px 25px;
  background-color: $background-color-secondary;

  .restaurant-items__section-name {
    margin: 5px 0;
    font-size: $font-size-16;
    font-weight: $font-bold;
    color: $font-color-primary;
  }

  .restaurant-items__section-items {
    padding: 0;
  }

  .restaurant-items__section-item {
    list-style-type: none;
    margin: 25px 0;
  }

  .restaurant-items__item-name {
    margin-right: 20px;
    font-size: $font-size-14;
    font-weight: $font-light;
    color: $font-color-primary;
    width: 45%;
    display: inline-block;
  }

  .restaurant-items__item-price {
    margin-right: 20px;
    font-size: $font-size-14;
    color: $font-color-primary;
    width: 15%;
    display: inline-block;
  }

  .restaurant-items__item-buy {
    text-decoration: none;
    color: $font-color-button;
    font-size: $font-size-12;
    padding: 5px 10px;
    background-color: $background-color-primary;
    border-radius: 2px;
    width: auto;
  }
}
