.restaurants {
  text-align: center;

  .restaurants__logo-img {
    height: 120px;
    width: 220px;
  }

  .restaurants__list {
    margin-top: 30px;
  }

  .restaurants__list-actions {
    text-align: right;
    margin-right: 5px;
  }

  .restaurants__list-restaurants {
    margin: 0;
    padding: 5px;
  }

  .restaurants__list-filter {
    display: inline-block;
  }
}
