.restaurants {
  .restaurants__logo-img {
    height: 120px;
    width: 220px;
  }

  .restaurants__list-filters {
    text-align: right;
    margin-right: 5px;
  }

  .restaurants__list-restaurants {
    margin: 0;
    padding: 5px;
  }

  .restaurants__filter {
    display: inline-block;
  }
}
